@use '../partials/variables';

.footer {
    background-color: variables.$lightTheme-secondary;
    color: variables.$font-color;
    font-weight: variables.$fontWeight-semibold;
    text-align: center;
    padding: 1.2rem;
    margin-top: 12%;
    width: 100%;
}