@use '../partials/mixins';
@use '../partials/variables';
@use '../partials/breakpoints';

.header {
    @include mixins.body-margin;
    &__nav {
        @include mixins.flex-layout-center(space-between);

        &-image {
            max-width: 100%;
            width: 100px;
        }

        &-links-container {
            display: flex;
            gap: 1.5em;
        }

        &-link {
            align-self: center;
            text-decoration: none;
            color: variables.$lightTheme-font-color;
            font-size: variables.$fontSize-small;
            transition: 400ms ease-in-out;

            &:hover,
            &:focus {
                color: variables.$lightTheme-secondary;
            }
        }

        .contact-link {
            @include mixins.button;
            min-width: 10%;
        }

        .menu-mobile {
            position: relative;
            display: none;
            color: variables.$lightTheme-font-color;
            font-size: variables.$fontSize-medium;
            cursor: pointer;
            z-index: 1;
        }

         .menu-link {
            min-width: 250px;
            position: absolute;
            display: none;
            z-index: 1;
            top: 100px;
            right: 0;
            border-radius: 15px 0 0 15px;
            background-color: variables.$bg-white;

            &__list {
                @include mixins.flex-layout-center(center, column);
                list-style: none;

                .list__item {
                    padding-block: 2.4em;

                    .item__link {
                        text-decoration: none;
                        color: variables.$lightTheme-font-color;
                        font-size: variables.$fontSize-small;

                    }
                }
            }
        }

        @include breakpoints.breakpoint(medium-devices) {

            .header__nav-links-container,
            .contact-link {
                display: none;
            }

            .menu-mobile {
                display: block;
            }
        }
    }
    
    .show {
        display: block;
    }
}
