@use '../../partials/variables';
@use '../../partials/mixins';

.section-technologies {
    margin-top: variables.$section-margin-top;

    &__header {
        width: 100%;
        background-color: variables.$lightTheme-terciary;
        padding: 2.4em;

        .header__technologies-list {
            list-style: square;
            display: flex;
            gap: 3.4em;
            color: variables.$font-color;
            font-size: variables.$fontSize-big;
            animation: horizontal 8s linear infinite;

            @keyframes horizontal {
                from {
                    transform: translateX(-100%);
                }

                to {
                    transform: translateX(105%);
                }
            }
        }
    }

    &__list {
        @include mixins.grid-layout(3, 1fr);
        gap: 2.4em;
        list-style: none;
        margin: variables.$section-margin-top 
                variables.$body-horizontal-margin;

        &-item {
            display: flex;
            padding: 16px;
            margin-bottom: .5em;

            background-color: variables.$bg-white;
            box-shadow: 0 0 10px variables.$lightTheme-shadow;
        
            border-top: 6px solid variables.$lightTheme-terciary;
            border-radius: 3px;
            // icons
            i {
                font-size: variables.$fontSize-extraBig;
                color: variables.$lightTheme-font-color;
            }

            &-title {
                align-self: center;

                margin-left: 15px;
                font-size: variables.$fontSize-medium;
                font-weight: variables.$fontWeight-bold;
                color: variables.$lightTheme-font-color;
            }
        }
    }
}