@use '../../partials/variables';
@use '../../partials/mixins';
@use '../../partials/breakpoints';

.section-about {
    @include mixins.body-margin;

    &__container {
        @include mixins.flex-layout-center(space-between, null, true);
        @include mixins.card;

        margin-top: 2.5em;


        &-content {
            padding-left: min(1.5em, 3.5em);
            // width: 50%;
            align-self: stretch;

            &-title {
                font-size: variables.$fontSize-big;

                @include breakpoints.breakpoint(medium-devices) {
                    margin-top: .5em;
                }
            }

            &-text {
                margin-top: 2.4rem;
                text-align: justify;

                font-size: variables.$fontSize-medium;
                font-weight: variables.$fontWeight-medium;
            }

            @include breakpoints.breakpoint(medium-devices) {
                padding-left: 0;
            }
        }
    }

    &__image {
        width: 350px;
        max-width: 100%;
        border-radius: 3px;
    }
}