@use '../../partials/variables';
@use '../../partials/mixins';

.section-technologies {
    margin-top: variables.$section-margin-top;

    &__header {
        display: flex;
        flex-direction: column;

        &-label {
            @include mixins.section-label;
        }

        &-title {
            @include mixins.layout-section-title
        }
    }

    &__list {
        list-style: none;
        margin-top: 2.5em;

        &-item {
            display: flex;
            padding: 16px;
            margin-bottom: .5em;

            @include mixins.card;
            
            // icons
            .fa-brands {
                font-size: variables.$fontSize-extraBig;
                color: variables.$font-color;
            }

            &-title {
                align-self: center;

                margin-left: 15px;
                font-size: variables.$fontSize-medium;
                font-weight: variables.$fontWeight-bold;
                color: variables.$font-color;
            }

            &:is(:hover, :focus) {
                background-color: variables.$lightTheme-secondary;
                transform: translateY(-10px) scale(1.2);
            }
        }
    }
}