@use '../../partials/mixins';
@use '../../partials/variables';
@use '../../partials/breakpoints';

.section-apresentation {
    @include mixins.flex-layout-center(center, column);
    @include mixins.body-margin;
    margin-top: variables.$section-margin-top;

    &__label {
        font-size: variables.$fontSize-small;
        font-weight: variables.$fontWeight-semibold;
    }

    &__content {
        font-size: variables.$fontSize-extraBig;

        strong {
            color: variables.$lightTheme-secondary;
        }

        @include breakpoints.breakpoint(small-up-devices) {
            font-size: variables.$fontSize-big;

        }
    }
    
    &__btn-seeMore {
        @include mixins.button;
        margin-top: 2.5rem;
        min-width: 15%;
    }
}

.skills-list {
    display: flex;
    gap: 2em;
    margin-top: .5em;
    margin-left: .4em;
    list-style-type: square;
}

.social-media-nav {
    margin-top: 1.2rem;
    display: flex;
    gap: 1.5rem;

    &__icon-link {
        text-decoration: none;
        font-size: variables.$fontSize-big;
        color: variables.$lightTheme-terciary;
        transition: 400ms ease-in-out;

        &:hover, :focus {
            color: variables.$lightTheme-secondary;
        }
    }
}


