@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  overflow-x: hidden;
}

.header {
  margin: 2% 10%;
}
@media (max-width: 48em) {
  .header {
    margin: 3.5% 7.5%;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__nav-image {
  max-width: 100%;
  width: 100px;
}
.header__nav-links-container {
  display: flex;
  gap: 1.5em;
}
.header__nav-link {
  align-self: center;
  text-decoration: none;
  color: #20203f;
  font-size: 1.2rem;
  transition: 400ms ease-in-out;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #533fd6;
}
.header__nav .contact-link {
  background-color: #533fd6;
  padding: 16px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: 400ms ease-in-out;
  cursor: pointer;
  min-width: 10%;
}
.header__nav .contact-link:hover,
.header__nav .contact-link :focus {
  box-shadow: -8px 10px 0px #1b1c2f;
}
.header__nav .menu-mobile {
  position: relative;
  display: none;
  color: #20203f;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.header__nav .menu-link {
  position: absolute;
  display: none;
  z-index: 1;
  top: 100px;
  right: 0;
  min-width: 250px;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
}
.header__nav .menu-link__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.header__nav .menu-link__list .list__item {
  padding-block: 2.4em;
}
.header__nav .menu-link__list .list__item .item__link {
  text-decoration: none;
  color: #20203f;
  font-size: 1.2rem;
}
@media (max-width: 48em) {
  .header__nav .header__nav-links-container,
  .header__nav .contact-link {
    display: none;
  }
  .header__nav .menu-mobile {
    display: block;
  }
}
.header .show {
  display: block;
}

.section-apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 10%;
  margin-top: 4.2rem;
}
@media (max-width: 48em) {
  .section-apresentation {
    margin: 3.5% 7.5%;
  }
}
.section-apresentation__label {
  font-size: 1.2rem;
  font-weight: 600;
}
.section-apresentation__content {
  font-size: 3.25rem;
}
.section-apresentation__content strong {
  color: #533fd6;
}
@media (max-width: 23.4375em) {
  .section-apresentation__content {
    font-size: 2.25rem;
  }
}
.section-apresentation__btn-seeMore {
  background-color: #533fd6;
  padding: 16px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: 400ms ease-in-out;
  cursor: pointer;
  margin-top: 2.5rem;
  min-width: 15%;
}
.section-apresentation__btn-seeMore:hover,
.section-apresentation__btn-seeMore :focus {
  box-shadow: -8px 10px 0px #1b1c2f;
}

.skills-list {
  display: flex;
  gap: 2em;
  margin-top: 0.5em;
  margin-left: 0.4em;
  list-style-type: square;
}

.social-media-nav {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.5rem;
}
.social-media-nav__icon-link {
  text-decoration: none;
  font-size: 2.25rem;
  color: #1b1c2f;
  transition: 400ms ease-in-out;
}
.social-media-nav__icon-link:hover, .social-media-nav__icon-link :focus {
  color: #533fd6;
}

.section-technologies {
  margin-top: 4.2rem;
}
.section-technologies__header {
  width: 100%;
  background-color: #1b1c2f;
  padding: 2.4em;
}
.section-technologies__header .header__technologies-list {
  list-style: square;
  display: flex;
  gap: 3.4em;
  color: #FFF;
  font-size: 2.25rem;
  animation: horizontal 8s linear infinite;
}
@keyframes horizontal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(105%);
  }
}
.section-technologies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4em;
  list-style: none;
  margin: 4.2rem 12%;
}
@media (max-width: 48em) {
  .section-technologies__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section-technologies__list-item {
  display: flex;
  padding: 16px;
  margin-bottom: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 10px #d2cdcd;
  border-top: 6px solid #1b1c2f;
  border-radius: 3px;
}
.section-technologies__list-item i {
  font-size: 3.25rem;
  color: #20203f;
}
.section-technologies__list-item-title {
  align-self: center;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #20203f;
}

.section-about {
  margin: 2% 10%;
}
@media (max-width: 48em) {
  .section-about {
    margin: 3.5% 7.5%;
  }
}
.section-about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em;
  box-shadow: -12px 9px 0px #1b1c2f;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 2.5em;
}
@media (max-width: 48em) {
  .section-about__container {
    flex-direction: column;
  }
}
.section-about__container-content {
  padding-left: 1.5em;
  align-self: stretch;
}
.section-about__container-content-title {
  font-size: 2.25rem;
}
@media (max-width: 48em) {
  .section-about__container-content-title {
    margin-top: 0.5em;
  }
}
.section-about__container-content-text {
  margin-top: 2.4rem;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 48em) {
  .section-about__container-content {
    padding-left: 0;
  }
}
.section-about__image {
  width: 350px;
  max-width: 100%;
  border-radius: 3px;
}

.section-projects {
  margin: 4.2rem 12%;
}
.section-projects__header {
  display: flex;
  flex-direction: column;
}
.section-projects__header-label {
  color: #533fd6;
  font-size: 1.2rem;
  font-weight: 700;
  border-left: 3px solid #533fd6;
  padding-left: 5px;
}
.section-projects__header-title {
  margin-top: 10px;
  margin-left: 1.5rem;
}
.section-projects .projects-container {
  margin-top: 2.4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-projects .projects-container .project {
  padding: 1.4em;
  box-shadow: -12px 9px 0px #1b1c2f;
  background-color: #fff;
  border-radius: 3px;
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.section-projects .projects-container .project__description {
  text-align: justify;
}
.section-projects .projects-container .project__technologies-list {
  list-style: none;
  display: flex;
  gap: 1.2em;
}
.section-projects .projects-container .project-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-projects .projects-container .project-bottom__type-project {
  font-size: 1.5rem;
  font-weight: 700;
}
.section-projects .projects-container .project-bottom__see-project-btn {
  background-color: #533fd6;
  padding: 16px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: 400ms ease-in-out;
  cursor: pointer;
}
.section-projects .projects-container .project-bottom__see-project-btn:hover,
.section-projects .projects-container .project-bottom__see-project-btn :focus {
  box-shadow: -8px 10px 0px #1b1c2f;
}
.section-projects .projects-container .fa-brands {
  font-size: 1.5rem;
}
@media (max-width: 48em) {
  .section-projects .projects-container {
    flex-direction: column;
  }
  .section-projects .projects-container .project {
    width: 100%;
    margin-top: 1.2em;
  }
}

.footer {
  margin-top: 12%;
  width: 100%;
  padding: 1.2rem;
  background-color: #1b1c2f;
  color: #FFF;
  text-align: center;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */