@use 'variables';
@use 'breakpoints';

// =================================================
// LAYOUT
// =================================================

@mixin flex-layout-center($justify-content, $flex-direction: row, $change-direction: false) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: $flex-direction;

    @if $change-direction ==true {
        @include breakpoints.breakpoint(medium-devices) {
            flex-direction: column;
        }
    }
}

@mixin grid-layout($number-of-columns, $size) {
    display: grid;
    grid-template-columns: repeat($number-of-columns, $size);

    @include breakpoints.breakpoint(medium-devices) {
        grid-template-columns: repeat(1, 1fr);
    }
}

@mixin body-margin {
    margin: 2% 10%;

    @include breakpoints.breakpoint(medium-devices) {
        margin: 3.5% 7.5%;
    }
}

// =================================================
// STYLES
// =================================================

@mixin button {
    background-color: variables.$lightTheme-secondary;
    padding: 16px;

    border: none;
    border-radius: 3px;

    color: variables.$font-color;
    font-weight: variables.$fontWeight-bold;
    text-decoration: none;
    text-align: center;

    transition: 400ms ease-in-out;
    cursor: pointer;

    &:hover,
    :focus {
        box-shadow: -8px 10px 0px variables.$lightTheme-terciary;
    }
}

@mixin card {
    padding: 1.4em;
    box-shadow: -12px 9px 0px variables.$lightTheme-terciary;
    background-color: variables.$bg-white;
    border-radius: 3px;
}