@use 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: variables.$font-roboto;
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color: variables.$lightTheme-primary;
    overflow-x: hidden;
}